:root {
  --pink: #e84393;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: 0.2s linear;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

/* app {
  overflow: hidden;
} */

/* header */
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.icon-navbar {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.icon-navbar__mobi {
  color: var(--text-color);
  font-size: 3.1rem;
  font-weight: bolder;
  padding: 1rem 1px 1rem 0.6rem;
}
.logo {
  color: var(--text-color);
  font-size: 3.1rem;
  font-weight: bolder;
}
.logo-dots {
  color: var(--pink);
}
.navbar-list {
  display: flex;
}
.navbar-item {
  font-size: 2rem;
}
.navbar-item-link {
  color: #666;
  padding: 0 1.5rem;
}
.navbar-item-link:hover {
  color: var(--pink);
}

.header-icon-link {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-left: 1rem;
}

.has-no-card:hover .no-cart {
  display: block;
}

/* no cart */
.no-cart {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 17rem;
  background-color: #fff;
  width: 40rem;
  min-height: 25rem;
  box-shadow: 0rem 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none;
  animation: appear linear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.no-cart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4rem;
  top: -2.5rem;
  right: 0;
}
.no-cart__label {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 2rem;
  /* color:rgb(138, 138, 138); */
  color: var(--pink);
  opacity: 0.7;
}

.no-cart__img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

/* Slide CSS */
#slide {
  margin-top: 6.7rem;
}
.slide-img {
  /* width: 100%;
  min-height: 100vh; */
  background: url(../images/home-bg.jpg) top center / cover no-repeat;
  /* background: url("../img/chicago.jpg") top center / cover no-repeat; */
  /* background-size: cover;
  background-position: center; */

  /* margin-top: 46px; */
  padding-top: 50%;
  /* background: url("../img/chicago.jpg") top center / cover no-repeat; */
  /* position: relative; */
  position: relative;
}
.slide-content {
  position: absolute;
  bottom: 0;
  top: 50%;
  margin-left: 13.8rem;
  text-align: justify;
  max-width: 60rem;
}
.slide-title {
  font-size: 6em;
  color: rgb(51, 51, 51);
}

.slide-slogan {
  font-size: 3.5rem;
  color: var(--pink);
  line-height: 1.5;
}

.slide-desc {
  width: 50rem;
  line-height: 1.6;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
}

.btn {
  font-size: 1.7rem;
  padding: 0.9rem 3.5rem;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  margin-top: 2rem;
}

.btn:hover {
  box-shadow: inset -20rem 0 20px 0 var(--pink);
}

/* ABOUT */
.heading-section {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(255, 51, 153, 0.05);
}
.heading-section-text1 {
  margin-left: 1rem;
  font-size: 4rem;
  color: var(--pink);
}
.heading-section-text2 {
  margin-left: 1rem;
  font-size: 4rem;
  color: (--text-color);
}

.about-video {
  width: 100%;
  border-radius: 2rem;
  position: relative;
}
.wrap_video-content {
  position: relative;
}

.about-video-text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: #fff;
  line-height: 50px;
  height: 50px;
  mix-blend-mode: screen;
}
.about-title {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.about-desc,
.about-desc2 {
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
  margin-bottom: 2rem;
  text-align: justify;
}

/* ICON PAY */
#iconpay {
  background-color: rgb(238, 238, 238);
  margin-top: 6rem;
  padding-bottom: 1.5rem;
}
.icon-wrap {
  display: flex;
  margin: 2rem 0 0.5rem 0;
  padding: 0 2rem;
  background-color: #fff;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0rem 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
}
.icon-img {
  margin: 2rem 2rem 2rem 0;
  height: 5rem;
}
.icon-text-title {
  color: var(--text-color);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.icon-text-desc {
  color: rgb(85, 85, 85);
  font-size: 1.3rem;
}

/* PRODUCT */
.product-wrap {
  margin: 1rem 1rem;
  background-color: #fff;
  box-shadow: 0rem 0.5rem 2rem 3px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.product-wrap:hover .product__icon {
  bottom: 11rem;
}

.discount {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  padding-left: 1.5rem;
  color: var(--pink);
  z-index: 2;
}

.product-img {
  width: 100%;
  padding-top: 1rem;
}

.product-img:hover {
  transform: scale(1.1);
}

.product__icon {
  position: absolute;
  bottom: -5rem;
  display: flex;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background-color: var(--pink);
  height: 4rem;
  width: 100%;
}

.product-icon-link {
  display: inline-block;
  color: #fff;
  line-height: 4rem;
  width: 8rem;
}

.product-icon-link:hover {
  background-color: rgb(51, 51, 51);
}

.product-btn {
  display: inline-block;
  color: #fff;
  line-height: 4rem;
  width: 212px;
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

.product-btn:hover {
  background-color: rgb(51, 51, 51);
}

.product-icon-heart {
  padding-right: 1rem;
  line-height: 4rem;
}

.product-icon-share {
  padding-left: 1rem;
  line-height: 4rem;
}

.product__content-title {
  /* padding: 1.5rem; */
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__content-price {
  text-align: center;
  padding-bottom: 3rem;
  color: var(--text-color);
}

.price-new {
  color: var(--pink);
  font-size: 2.5rem;
  font-weight: border;
}

.price-old {
  padding-left: 0.7rem;
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
  text-decoration: line-through;
}

/* CUSTOMS REVIEW */

.customer {
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  box-shadow: rgba(0 0 0 / 20%) 0rem 0.5rem 2rem 3px;
}
.rating {
  margin: 1rem 0;
}
.rating-link {
  color: var(--pink);
  font-size: 2rem;
}

.review-desc {
  color: rgb(153, 153, 153);
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
.avatar-user {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.user-info {
  padding-left: 2rem;
}
.name-user {
  font-size: 2rem;
  color: var(--text-color);
}
.feel-user {
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
}
.quote-right {
  margin-left: auto;
  font-size: 8rem;
  opacity: 0.08;
}

/* CONTACT */
.input-contact {
  box-shadow: rgb(0 0 0 / 20%) 0rem 0.5rem 2rem 3px;
  height: auto;
  display: block;
  padding: 2rem;
}
.input-style {
  padding: 1.5rem;
  font-size: 2rem;
  width: 100%;
  border: 1px solid rgb(253, 226, 226);
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
#textarea-contact {
  resize: none;
}

.input-style:focus {
  border: 1px solid rgb(255, 99, 99);
}
.contact-img {
  width: 100%;
  height: 45rem;
}
.btn.contact {
  display: inline-block;
  margin-bottom: 2rem;
}
/* FOOTER */
#footer {
  margin-top: 5.7rem;
  margin-bottom: 3rem;
  border-top: 1px solid rgb(0, 0, 0, 0.08);
}
.footer-heading {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--text-color);
}
.footer-item-link {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.footer-item-link:hover {
  color: var(--pink);
  text-decoration: underline;
}
.footer-img {
  padding: 1rem 0;
}
